/* ==========================================================================
   Author's custom styles
   ========================================================================== */
ul#images {
    list-style-type: none;
}

ul#images .placeholder {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
}
.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
}

#images li {
	height: 600px;
}
.image-title {
	font-weight: bold;
	font-size: 2rem;
	font-family: Ubuntu;
	margin-top: 1rem;
}











