/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.page-header h1 {
	font-family: Bangers;
}

#search-bar {
	margin-bottom: 5rem;
}

ul#images {
    list-style-type: none;
}

.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
}

#images img:hover {
	cursor: pointer;
	transform: translate(0, -20px);
}
.image-title {
	font-weight: bold;
	font-size: 2rem;
	font-family: 'Berkshire Swash';
	margin-top: 1rem;
}
#images li {
	height: 600px;
}












